.page-header {
    background-color: $off-white;
    margin-bottom: $l-size;
    padding: $s-size;
}

.page-header__actions {
    margin-top: $m-size;
}

.page-header__title {
    font-weight: 300;
    span {
        font-weight: bold;
    }
}